﻿
@{
    ViewData["Title"] = "RegisterForm";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="firstName" class="form-control getDataCls" name="FirstName" placeholder="First name" required="required" autofocus="autofocus">
                                <label for="firstName">First name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="lastName" class="form-control getDataCls" name="LastName" placeholder="Last name" required="required">
                                <label for="lastName">Last name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="middleName" name="MiddleName" class="form-control getDataCls" placeholder="Middle name">
                                <label for="lastName">Middle name</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="form-row">
                            <div class="col-md-8">
                                <div class="form-label-group">
                                    <input type="email" id="inputEmail" class="form-control getDataCls" name="username" placeholder="Email address" required="required">
                                    <label for="inputEmail">Email address</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-label-group">
                                    <input type="text" id="userroles" class="form-control getDataCls" value="Admin" name="userRole" placeholder="User Role" readonly>
                                    <label for="inputEmail">User Role</label>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control getDataCls" name="username" placeholder="Email address" required="required">
                            <label for="inputEmail">Email address</label>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" name="password" class="form-control getDataCls" placeholder="Password" required="required">
                                <label for="inputPassword">Password</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                                <label for="confirmPassword">Confirm password</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" id="btn_register">Register</button>
            </form>
            @if (!User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Index","Login")">Login Page</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            }
            else
            {
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Index","Main")">Dashboard Page</a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Register.js"></script>
}